.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 20px;
  }

  &_container_logo {
    color: var(--yellow-theme-main-color);
    cursor: pointer;
  }

  &_container_menu {
    display: flex;
    list-style: none;
    text-align: center;

    &.active {
      background: #18181818;
      left: 0px;
      opacity: 1;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -1100px;
      opacity: 1;
      transition: all 0.5s ease;

    }
  }

  &_container_menu_item {
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    border-bottom: 1px solid #28282828;
    padding: 0.1px 0;

    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: all 0.5s ease;
     
    }

    &:hover::after {
      width: 100%;
      background: var(--yellow-theme-main-color);
    }
  }

  &_container_menu_item_links {
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
  }

  .nav-icon {
    display: none;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 20px;
 
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }
}
